
@import url(http://fonts.googleapis.com/css?family=Montserrat|Lobster|Lato:300,400);


h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
p {
    font-family: 'Lato', sans-serif;
}
.top {
    background-color: #FFF;
}
.top .navbar-brand {
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0 10px;
    background-color: #000;
    color: #474747;
    text-decoration: none;
}
.top .container {
    padding: 0;
}
.banner {
    background-color: #000;
}
.banner * {
    background-color: #000;
}
.banner .container {
    min-height: 200px;
    padding: 40px 30px 0px 40px;
}
.banner .container p {
    font-size: 22px;
    padding-left: 5px;
    font-weight: 300;
}
.banner .container img{
    margin: auto;
}
.middle {
    background-color: #CCC;
}
.middle .container {
    background-color: #FFF;
    min-height: 300px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.panel .panel-title{
    text-align: center;
}
.navbar-nav li a, .panel-title {
    color: #8f8f8f;
    font-family: 'Montserrat',sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.navbar-nav li a:hover {
    color: #010101;
    background-color: transparent;
}
footer {
    
}
footer .container {
    padding-top: 10px;
    min-height: 56px;
}
footer .container h3 {
    color: #999;
}
footer .container p {
    color: #666;
}
.navbar-toggle {
    color: #000;
    font-size: 32px;
    margin: 3px;
    padding: 2px 5px;
    line-height: 32px;
}
.navbar-toggle:hover {
    background-color: #CCC;
}

.content p {
    
    line-height: 30px;
    font-size: 16px;
}

.whoiam p{
    font-family: 'Lobster';
    font-size: 16px;
    letter-spacing: 1px;
    
}
footer .media img{
    display: inline;
}
